#navbar .logo {
    float: none;
    text-align: center;
}

#navbar ul, #navbar ul li {
    float: none;
}

#navbar ul li a {
    padding: 5px;
    border-bottom: 1px dotted #444;
}

/* Showcase */
#showcase {
    height: 100%;
}

#showcase .showcase-content {
    padding-top: 70px;
    padding-bottom: 30px;
}


/* Home Info */
#home-info {
    height: 550px;
}

#home-info .info-img {
    display: none;
}

#home-info .info-content {
        width: 100%;
        float: right;
        height: 100%;
}

/* Boxes */
.box {
    float: none;
    width: 100%;
}

/* About */
#about-info .info-right,
#about-info .info-left {
    float: none;
    width: 100%;
}

#about-info .l-heading {
    text-align: center;
}

#about-info .info-right {
    margin-top: 30px;
}

/* Contact */
#contact-info .box {
    border-bottom: 1px solid #444;
}